<gridster [options]="options" class="gridster" (onDrop)="onDrop($event)">

    <ng-container *ngFor="let item of widgets; trackBy:item?.componentUuid" [style.overflow]="'hidden'">
        <gridster-item [item]="item" id="{{item.componentUuid}}">

            <mat-toolbar class="drag-handler component-toolbar">
                <mat-toolbar-row>
                    <span class="componentName">
                        {{item.name}}
                    </span>

                    <button mat-button (click)="onSettings(item)">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <button mat-button (click)="onDelete(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>

            <div class="componentContainer">
                <ndc-dynamic #component [ndcDynamicComponent]=findComponent(item.name) [ndcDynamicInputs]="getItemInputs(item)"
                    [ndcDynamicOutputs]="outputs">
                </ndc-dynamic>
            </div>
        </gridster-item>

    </ng-container>

</gridster>
