<gridster [options]="options" (onDrop)="onDrop($event)" style="background-color: #e8e8e8;">


    <ng-container *ngFor="let item of widgets" style="overflow: hidden;">

        <gridster-item [item]="item" id="{{item.id}}">

            <mat-toolbar class="drag-handler">
                <mat-toolbar-row style="display: flex;">
                    {{item.name}}

                    <div style="flex: 1; text-align: right;">

                        <button mat-button (click)="onSettings(item)">
                            <mat-icon>settings</mat-icon>
                        </button>

                        <button mat-button (click)="onDelete(item)">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>

                </mat-toolbar-row>
            </mat-toolbar>

            <div class="componentContainer">

                <ndc-dynamic #component [ndcDynamicComponent]=findComponent(item.component) [ndcDynamicInputs]="item"
                    [ndcDynamicOutputs]="outputs">
                </ndc-dynamic>
            </div>
        </gridster-item>

    </ng-container>

</gridster>
