.component-toolbar {
    min-height: 40px;
    justify-content: center;
    cursor: grab;

    &:active {
            cursor: grabbing !important;
        }
    
        mat-toolbar-row {
            display: flex;
                height: 35px;
                
                    .componentName {
                        cursor: auto;
                        font-size: 1rem;
                        margin-right: auto;
                    }
                }
}

.componentContainer {
    height: calc(100% - 35px);
    }
    
    .gridster {
        background-color: #e8e8e8;
}