<gridster [options]="options" class="gridster" (onDrop)="onDrop($event)">

    <ng-container *ngFor="let widget of widgetList; trackBy:trackWidget" [style.overflow]="'hidden'">
        <gridster-item [item]="widget" id="{{widget.uuid}}">

            <mat-toolbar class="drag-handler component-toolbar">
                <mat-toolbar-row>
                    <span class="componentName">
                        {{widget.name}}
                    </span>

                    <button *ngIf="widget.hasPreferences" mat-button (click)="onSettings(widget)">
                        <mat-icon>settings</mat-icon>
                    </button>

                    <button mat-button (click)="onDelete(widget)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>

            <div class="componentContainer">
                <ndc-dynamic #component [ndcDynamicComponent]=findComponent(widget.name)
                    [ndcDynamicInputs]="getItemInputs(widget)" [ndcDynamicOutputs]="outputs">
                </ndc-dynamic>
            </div>
        </gridster-item>

    </ng-container>

</gridster>