

<mat-sidenav-container style="height: 100%;" [hasBackdrop]="false">
    <mat-toolbar class="toolbar">
        <div class="dashboardNameContainer" style="margin-right: auto;">
            <button *ngIf="!editDashboardNameMode" mat-button [matMenuTriggerFor]="dashboardMenu">
                <centered>
                    <span body class="toolbarText"> {{ dashboardName }} </span>
                    <mat-icon suffix>arrow_drop_down</mat-icon>
                </centered>
            </button>

            <centered>
                <input prefix matInputs class="dashboardNameInput" autocomplete="off" *ngIf='editDashboardNameMode'
                    [(ngModel)]='dashboardName' appAutofocus type='text'>

                    <span body>
                        <button mat-icon-button *ngIf="!editDashboardNameMode" (click)="editDashboardName()">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button *ngIf="editDashboardNameMode" (click)="saveDashboardName()">
                            <mat-icon>save</mat-icon>
                        </button>
                    </span>
                    </centered>

            <mat-menu #dashboardMenu="matMenu">
                <mat-list class="centered" role="list" *ngFor="let d of dashboards">
                    <mat-list-item role="listitem">
            
                        <button class="centered" mat-button target="_blank" (click)="onMenuClick(d)">
                            <span class="toolbarText"> {{d.name}}</span>
                        </button>

                    <button style="float: right;" mat-icon-button target="_blank" (click)="onNewTab(d);$event.stopPropagation()">
                        <mat-icon>open_in_new</mat-icon>
                    </button>

                    </mat-list-item>
                    </mat-list>
                    </mat-menu>
        </div>

        <button mat-button class="toolbarText" (click)="onToggleSidenav()">
            <centered>
                <mat-icon prefix>widgets</mat-icon>
                <span body class="toolbarText">
                    Widget List
                </span>
            </centered>
        </button>
    
    </mat-toolbar>


    <mat-sidenav #componentsSidenav position="end" mode="over" autosize style="background-color: #F4F7FC;">
        <mat-list class="sidenavList">

            <button mat-stroked-button (click)="onToggleSidenav()" style="width: 100%;">
                Close
                <i class="pi pi-arrow-right"></i>
            </button>

            <hr>

            <mat-card draggable="true" (dragstart)="onDragStart($event, item)" *ngFor="let item of sidenavItems"
                class="sidenavCard">

                <div class="draggables">
                    <img mat-card-sm-image [src]="item.icon">

                    <mat-card-content>
                        <mat-card-subtitle>
                            {{item.componentName }}
                        </mat-card-subtitle>
                    </mat-card-content>
                </div>

            </mat-card>
        </mat-list>
    </mat-sidenav>

    <div style="width: 100%; height: 100%;">
        <dashboard [id]="id" [name]="dashboardName"></dashboard>
    </div>
</mat-sidenav-container>