.menu-spacer {
    flex: 1 1 auto;
}
.dashboardNameInput {
    background: #e7e7e7;
    padding: 0.5em;
    border-radius: 3px;
    border: none;
}


button.centered.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base:hover {
    background-color: #FFFFFF;
}

::ng-deep .mat-mdc-card-subtitle {
    font-family: Montserrat;
    font-size: 0.8em;
}

::ng-deep .mat-mdc-card-content:last-child {
    padding: 0;
}

::ng-deep .mat-mdc-list-item .mdc-list-item__primary-text {
    display: inline-flex;
    align-items: center;
}

.sidenavList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.sidenavCard {
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.toolbar {
    background-color: #3f51b5;
        color: #e7e7e7;
        position: sticky;
        top: 0;
        z-index: 1000;
}

.toolbarText {
    font-weight: 400;
    font-size: 1rem;
    }
    
    .dashboardNameContainer {
        display: flex;
        align-items: center;
}