<h1 mat-dialog-title>
  <p *ngIf="!(title)">
    Info
  </p>
  <p *ngIf="title">
    {{title}}
  </p>
  <mat-divider></mat-divider>
</h1>


<div mat-dialog-content>
  <span style="white-space: pre-line">
    {{message }}
  </span>
</div>
<div mat-dialog-actions>
  <button *ngIf="confirm" mat-button [mat-dialog-close]="true">Yes</button>
  <button *ngIf="confirm" mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button *ngIf="!confirm" mat-button [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
</div>